@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #eff6ff;
  color: #1f2937;
  padding-top: 4rem;
}

a {
  color: #5390d9;
}

a:hover {
  text-decoration: none;
}

nav {
  box-shadow: 0 1px 2px rgb(0 0 0 / 0.1);
}

section {
  width: 100%;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
}

h1 {
  font-size: 2.25rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.875rem;
}

@media (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
  }
}

h3 {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  h3 {
    font-size: 1.875rem;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
