@tailwind base;
@tailwind components;
@tailwind utilities;

/* === BASE STYLES === */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #eff6ff; /* bg-blue-50 */
  color: #1f2937; /* text-gray-800 */
  padding-top: 4rem;
}

a {
  color: #5390d9;
}

a:hover {
  text-decoration: none;
}

nav {
  box-shadow: 0 1px 2px rgb(0 0 0 / 0.1);
}

section {
  width: 100%;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
}

h1 {
  font-size: 2.25rem; /* text-4xl */
}

@media (min-width: 768px) {
  h1 {
    font-size: 3rem; /* md:text-5xl */
  }
}

h2 {
  font-size: 1.875rem; /* text-3xl */
}

@media (min-width: 768px) {
  h2 {
    font-size: 2.25rem; /* md:text-4xl */
  }
}

h3 {
  font-size: 1.5rem; /* text-2xl */
}

@media (min-width: 768px) {
  h3 {
    font-size: 1.875rem; /* md:text-3xl */
  }
}

/* === REMOVE NUMBER INPUT SPINNER === */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
